{% extends 'base.html' %}
{% load static %}
{% block menu %}
                    <li class="active" style="background-color: white; color: #00BCD4">
                        <a href="{% url 'about' %}">
                            <span>Home</span>
                        </a>
                    </li>
                     <li>   
                        <a href="{% url 'list' %}">
                            <span>Listing</span>
                        </a>
                    </li>
                     <li>
                        <a href="{% url 'contact' %}">
                            <span>Contact</span>
                        </a>
                    </li>


{% endblock %}


{% block content %}
 <!-- ======================================================== -->
<!-- Header-->
<!-- ======================================================== -->
<header class="site_header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<h2 class="header_title">
					James <span>Gattuso</span> <span>Realty</span>
				</h2>
				<div class="mobile_icon pull-right">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="site_menu">
					<nav class="main_menu">
						<ul>
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'list' %}">Listing</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
							<!-- <li><a href="javascript:void(0)"><i class="fa fa-sign-out"></i></a></li> -->
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>


<!-- ======================================================== -->
<!-- Inner Page-->
<!-- ======================================================== -->

<div class="main">

	<section class="inner_page_wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="page_title"><h1>Dashboard</h1></div>
				</div>


            <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h3>
                                James Gattuso Reality
                            </h3>
                            <!-- <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul> -->
                        </div>
                        <div class="body">
                            <ul>
                                <li id='address'>107 Sunset Drive</li>
                                <li id='city'>Massachusetts MA 0269</li>
                                <li></li>
                                <li id='deposit'>Deposit: $ 5000</li>
                                <li id='date'>Auction Date: 13 Oct 2017</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h3>
                                James Gattuso Reality
                            </h3>
                            <!-- <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul> -->
                        </div>
                        <div class="body">
                            <ul>
                                <li id='address'>107 Sunset Drive</li>
                                <li id='city'>Massachusetts MA 0269</li>
                                <li></li>
                                <li id='deposit'>Deposit: $ 5000</li>
                                <li id='date'>Auction Date: 13 Oct 2017</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h3>
                                James Gattuso Reality
                            </h3>
                            <!-- <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul> -->
                        </div>
                        <div class="body">
                            <ul>
                                <li id='address'>107 Sunset Drive</li>
                                <li id='city'>Massachusetts MA 0269</li>
                                <li></li>
                                <li id='deposit'>Deposit: $ 5000</li>
                                <li id='date'>Auction Date: 13 Oct 2017</li>

                            </ul>
                        </div>
                    </div>
                </div>
            <!-- /row -->

		</div>
	</section>

</div>
<!-- /main -->


<!-- ======================================================== -->
<!-- Footer-->
<!-- ======================================================== -->
<footer class="site_footer">
	<div class="container-fluid">
		<div class="row">
			<div class="listing_footer">
				<div class="col-sm-12">
					<div class="footer_logo text-center">
						<h2>
							James <span>Gattuso</span> <span>Realty</span>
						</h2>
						<p class="copyright">© 2017 All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /row -->

		<div class="row">
			<div class="col-sm-12">
				<div class="powered_by text-center">
					<p>Powered by <a href="http://www.senzalabs.com/" target="_blank">Senza Labs</a></p>
				</div>
			</div>
		</div>
		<!-- /row -->

	</div>
	<!-- /container-fluid -->
</footer>
{% endblock %}