{% extends 'base_login.html' %}

{% load static %}

{% block javascript %}
    <script>
      $("#danger-alert").hide();
      $("#success-alert").hide();
    $("#id_password2").change(function () {
      $.ajax({
          url: "{% url 'password_validation' %}",
        data: $('#forgetform').serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.error) {
            $('#danger-alert').show();
              $('#success-alert').hide();
          }
        else{
              $('#danger-alert').hide();
              $('#success-alert').show();
          }
        }
      });
    });
    </script>
{% endblock %}

{% block content %}
            <div class="alert alert-danger" role="alert" id="danger-alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <strong>Warning!</strong> {{ data.error_msg }}
            </div>
            <div class="alert alert-success" role="alert" id="success-alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <strong>Success!</strong> Password Matched!!
            </div>
<div class="pen-title">
  <h1>{{ name }}</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="toggle"><a href="{% url "login" %}" style="color: white"><i class="fa fa-times fa-pencil"></i>
      <div class="tooltip">login</div></a>
  </div>
  <div class="form">
    <h2>Email ID of your account</h2>
    <form method="post" id="forgetform"> {% csrf_token %}
        {{ form }}
      <button type="submit"> Login </button>
    </form>
  </div>
</div>
{% endblock %}